canvas {
  display: block;
  margin: 20 auto;
  border: 3px solid black;
}

body {
  background: #f2f2f2;
  text-align: center;
  margin: 20px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #008CBA;
  border: 2px solid #000;
}

.new-color {
  background-color: #4CAF50;
} 

h1 {
  width: 400px;
  color: #333;
  font-size: 50px;
  margin: 10px auto;
  box-shadow: 2px 2px 6px #888;
  letter-spacing: -1px;
  background-color: #fff;
  border: 5px ridge #333;
  border-radius: 15px;
  padding: 10px;
}

h2 {
  width: 205px;
  color: #333;
  font-size: 30px;
  margin: auto;
  box-shadow: 2px 2px 6px #888;
  background-color: #fff;
  border: 5px ridge #333;
  border-radius: 15px;
  padding: 5px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 20px 16px;
  background-color: red;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 10px 16px;
  background-color: red;
  color: white;
  font-size: 25px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 120px auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}