canvas {
  display: block;
  margin: 20 auto;
}

body {
  background: #f2f2f2;
  text-align: center;
  margin: auto;
  width: 800px;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-simple-cartoon-style-jungle-adventure-image_167189.jpg');
  background-position: center;
  background-size: cover;
}

.gameBorder {
  border: 15px solid #385a7c; 
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 400px;
  color: #333;
  font-size: 50px;
  margin: 30px 10px;
  box-shadow: 2px 2px 6px #888;
  letter-spacing: -1px;
  background-color: #fff;
  border: 3px ridge #333;
  border-radius: 15px;
  color: #008000;
}

.snake {
  width: 100;
  height: 100;
}

.btn-border, 
.btn-mine {
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #008CBA;
  border: 1px solid #000;
  box-shadow: 0 9px #999;
  outline: none;
}

.btn-size {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-small {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 12px;
}

.btn-small:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-medium {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  font-size: 20px;
}

.btn-medium:hover {
  background-color: #f44336;
  color: white;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.size:hover {
  color: #ff2b2b;
}

.red-color {
  color: #ff2b2b;
}

h2 {
  color: #333;
  font-size: 29px;
  margin: auto;
  box-shadow: 2px 2px 6px #888;
  background-color: #fff;
  border: 5px ridge #333;
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
}

h3 {
  font-size: 28px;
  color: #000;
}

.fa-bomb, .fa-crop-alt {
  color: black;
}

.fa-apple-alt {
  color: red;
}

.flex-flow {
  flex-flow: column;
}

.blue-border {
  border: 5px solid #ff2b2b;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 5px 5px 0px 5px;
  background-color: cornflowerblue;
  color: white;
  border-bottom: 2px solid #fff;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

/* Modal Footer */
.modal-footer {
  padding: 10px 16px;
  background-color: #ff2b2b;
  color: white;
  font-size: 25px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 120px auto;
  padding: 0;
  border: 1px solid #888;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
  border-radius: 100px;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}